{% extends "base.html" %}
{% block title %} jQuery example - autocomplete {% endblock %}

{% block head %}
    {{ super() }}
        <style>
            .container { width: 80%; margin: 2em auto; font-size: 1.1em; }
            .auto { margin: 1em auto; }
            .auto input { 
                width: 20em; padding: 0.5em 0; text-indent: 0.5em;
                border: solid 1px #aaa; border-radius: 0.3em; font-size: 0.8em; 
            }
            .auto .auto-panel .list { 
                position: absolute; z-index: 2; width: 20em; max-height: 10em; 
                overflow-y: scroll; z-index: 2; display: none; font-size: 0.8em; 
                border: solid 1px #aaa; border-radius: 0.3em; border-top: none; 
                background: white;
            }
            .auto .auto-panel .list .item { 
                padding: 0.2em 0; border-bottom: solid 1px #aaa; text-indent: 0.5em;
            }
            .auto .auto-panel .list .item:hover { cursor: pointer; background: #aaa; }
            .auto .auto-panel .list .item:last-child { border: none; }
        </style>
{% endblock %}

{% block content %}
    <body>
        <div class="container">
            <h2> AutoCompletion </h2>
            <div class="auto local-auto" id="local">
                <div class="auto-panel label">
                    <label for="local-input">Local autocompletion </label>
                </div>
                <div class="auto-panel input-panel">
                    <input type="text" name="local" id="local-input" />
                    <div class="list"></div>
                </div>
            </div>
            <div class="auto remote-auto" id="remote">
                <div class="auto-panel label">
                    <label for="remote-input">Remote autocompletion </label>
                </div>
                <div class="auto-panel input-panel">
                    <input type="text" name="remote" id="remote-input" />
                    <div class="list"></div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/autocomplete.js"></script>
    <script>
        $(document).ready(() => {
            load_local('#local-input');
            load_remote('#remote-input');
        });
    </script>
{% endblock %}
